<!DOCTYPE html>
<html lang="ru">
	<head>
		<link rel="stylesheet" type="text/css" href="css/style.css">
		<title> ShadowMoney</title>
		<meta http-equiv="Content-type" content="text/html";charset="utf-8"/>
	</head>
	<body>

		<div  class="topnav">
		  <a name="Home" class="active">Home</a>
		  <a name="News"> News</a>
		  <a name="Contant"> Contact</a>
		  <a name="About"> About</a>
		</div>

		<div class="auth">
			<a href=""></a>
			<a href="Login"> Login </a>
			<a href="Password"> Password </a>
		</div>

	</body>
</html>